<h2>Edit your profile</h2>

<%= simple_form_for @user, url: profile_path do |f| %>
<div class="form-inputs">
  <%= f.input :email, required: false, autofocus: true %>

  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_area :last_name %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>

  <%= f.label :visited, class: "form-control" %>
  <%= f.text_area :visited, class: "form-control" %>

  <%= f.label :future_visit, class: "form-control" %>
  <%= f.text_area :future_visit, class: "form-control" %>

  <%= f.label :interest, class: "form-control" %>
  <%= f.text_area :interest, class: "form-control" %>

</div>

<div class="form-actions">
  <%= f.button :submit, "Submit" %>
</div>
<% end %>
