<h1><%= @profile.first_name %></h1>

  <%= @profile.first_name %>
  <%= @profile.last_name %>
  <%= @profile.email %>
  <%= image_tag @profile.photo, class: "photo_class" %>
  <%= @profile.city %>
  <%= @profile.street_address %>
