<div class="container">

  <h1 class="page-title"><%= @event.title %> </h1>

  <div class="wrapper">
    <div class="container">
      <div class="row">
      <div class="col-xs-3">
          <ul class="categories">
            <li> Date: </li>
            <li> # of Guests: </li>
            <li> BLD? </li>
            <li> City: </li>
            <li> Al little more to know ... </li>
          </ul>
        </div>
        <div class="col-xs-3">
          <ul>
            <li> <%= @event.date %> </li>
            <li> <%= @event.guest %> </li>
            <li> <%= @event.meal %> </li>
            <li> <%= @event.place %> </li>
            <li> <%= @event.description %> </li>
          </ul>
        </div>
        <div class="col-xs-6">
        <%= link_to "Make a request!", root_path, class: "btn btn-primary" %>
        <%= link_to "Back to search results", events_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

</div>
