<div class="container eventshow">

</div><h1>Event Show Page</h1>

<h3> <%= @event.title %> </h3>

<p> Date: <%= @event.date %> </p>
<p> Guest: <%= @event.guest %> </p>
<p> Type of meal? <%= @event.meal %> </p>
<p> <%= @event.place %> </p>
<p> <%= @event.description %> </p>

</div>
