<h2>Host a meal!</h2>

<%= simple_form_for @event, url: dashboard_events_path do |f| %>
<div class="form-inputs">

  <%= f.date_select :date, label: 'Date of this event' %> <br>

  <%= f.input :guest, label: "# of guests " %> <br>

  <%= f.input :meal, label: "Breakfast, lunch or dinner? ", as: :select, collection: ["Breakfast", "Lunch", "Dinner"] %> <br>

  <%= f.input :title%> <br>

  <%= f.input :streetname, label: "Streetname + number " %> <br>

  <%= f.input :place, class: "form-control", label: "City" %> <br>

  <%= f.input :description, class: "form-control", label: "Please provid your future guests with a little extra info about your event " %> <br>

</div>

<div class="form-actions">
  <%= f.button :submit, "Submit" %>
</div>
<% end %>
