<h2>Host a meal!</h2>

<%= simple_form_for @event, url: dashboard_events_path do |f| %>
<div class="form-inputs">

  <%= f.date_select :date %> <br>

  <%= f.label :guest %>
  <%= f.text_area :guest %> <br>

  <%= f.label :meal %>
  <%= f.text_field :meal %> <br>

  <%= f.label :title%>
  <%= f.text_field :title %> <br>

  <%= f.label :place, class: "form-control" %>
  <%= f.text_area :place, class: "form-control" %> <br>

  <%= f.label :description, class: "form-control" %>
  <%= f.text_area :description, class: "form-control" %> <br>

</div>

<div class="form-actions">
  <%= f.button :submit, "Submit" %>
</div>
<% end %>
