<h2>Host a meal!</h2>

<%= simple_form_for @event, url: dashboard_events_path do |f| %>
<div class="form-inputs">

  <%= f.date_select :date %> <br>

  <%= f.input :guest %> <br>

  <%= f.input :meal, as: :select, collection: ["breakfast", "lunch", "dinner"] %> <br>

  <%= f.input :title%> <br>

  <%= f.input :place, class: "form-control" %> <br>

  <%= f.input :description, class: "form-control" %> <br>

</div>

<div class="form-actions">
  <%= f.button :submit, "Submit" %>
</div>
<% end %>
